#overall{
  height: 25%;
  background-color: #ddb1ff;
}

#solo{
  height: 25%;
  background-color:#e25bff;
}

#duo{
  height: 25%;
  background-color: #9b00bb;
}

#squad{
  height: 25%;
  background-color: blueviolet;
}
