.color_style{
  color: white;
}

.table{
  margin-top: 30px;
  margin-left: 12px;
  margin-right: 12px;
  border-color: transparent;
  border-radius: 15px;
  background-color: #9b00bb;
  background-image: linear-gradient(to bottom right, #9b00bb, #4c51f9);
}

.alert_style{
  font-size: xx-small;
  font-family: "Courier New";
}
